.mycart-body {
  margin-top: 70px;
}

.mycart-products {
  margin-top: 100px;
}

.mycart-product {
  display: flex;
  height: 100px;
  width: 90vw;
  margin-top: 10px;
  margin-left: 5vw;
  background-color: whitesmoke;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 5px;
}

.mycart-product-detail {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 30vw;
  height: 100%;
  padding-left: 3vw;
}

.mycart-image {
  width: 100px;
  height: 100px;
}

.mycart-remove-from-cart,
.mycart-buy-now {
  height: 40px;
  width: 20vw;
  /* margin-left: 30px; */
  /* margin-top: 30px; */
}

.mycart-remove-from-cart {
  background-color: rgb(232, 192, 119);
  margin-right: 20px;
  border-radius: 5px;
}
.mycart-remove-from-cart:hover {
  cursor: pointer;
  background-color: rgb(230, 150, 3);
}
.mycart-buy-now {
  background-color: rgb(155, 237, 155);
  border-radius: 5px;
}
.mycart-buy-now:hover {
  background-color: rgb(15, 173, 15);
  cursor: pointer;
}
.mycart-product-option {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
